/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Menu ****************/
@media (max-width: 1000px) {
  header {
    display: none;
  }
}

/*FONTS*/
.syne-bold > {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.syne-semibold {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.syne-xtrabold {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/***************** STYLE ***************/

main p,
h1,
h2,
h3,
a,
li {
  margin: 25px;
}

h1 {
  font-family: "Syne", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-family: "Syne", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

h3 {
  font-family: "Syne", sans-serif;
  font-size: 0.75rem;
  font-weight: 800;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 28px;
}

a {
  font-family: "Syne", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
}

li {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
}

/*IMG*/
.forside_img {
  background-image: url("/forside.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 60vh; /* eller hvad du vil */
}

/***************** OM SOUNDWHEEL - MOBIL ******************/
.center_overskrift {
  text-align: center;
}

.fed_tekst {
  font-family: "Syne", sans-serif;
  font-weight: 700;
}

.baggrund_tekst {
  background-color: rgba(246, 245, 243, 1);
  border-radius: 10px;
  margin: 25px;
  padding: 15px;
}

.baggrund_tekst p {
  gap: 20px;
}

.centreret_tekst {
  text-align: center;
  margin: 25px;
  max-width: 45ch;
  margin-left: auto;
  margin-right: auto;
}

.om_img img {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (min-width: 800px) {
  h1 {
    font-family: "Syne", sans-serif;
    font-size: 3.1rem;
    font-weight: 600;
  }

  h2 {
    font-family: "Syne", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
  }

  h3 {
    font-family: "Syne", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
  }

  p {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 28px;
  }

  a {
    font-family: "Syne", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }

  li {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
  }
}
