/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*************** Menu ****************/
@media (max-width: 1000px) {
  header {
    display: none;
  }
}

/*FONTS*/
.syne-bold {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.syne-semibold {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.syne-xtrabold {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/***************** STYLE ***************/

main p,
h1,
h2,
h3,
a,
li {
  margin: 25px;
}

h1 {
  font-family: "Syne", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-family: "Syne", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}

h3 {
  font-family: "Syne", sans-serif;
  font-size: 0.75rem;
  font-weight: 800;
}

p {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 28px;
}

a {
  font-family: "Syne", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  text-decoration: none;
}

li {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
}

.normal_linje {
  margin: 25px;
  margin-top: 5rem;
}

.kontakt_h1 {
  font-size: 2rem;
  text-align: center;
}

.besked {
  font-size: 2rem;
  display: block;
}

.kontakt_span {
  display: block;
}

.kontakt_info {
  background-color: #f6f5f3;
  margin: 0 30px 0 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
}

.kontakt_info hr {
  margin: 0 30px 0 30px;
}
.kontakt_info h3 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
}

.kontakt_info p {
  line-height: 5px;
}

.nyhedsbrev_h2 {
  text-align: center;
}

.nyhedsbrev_p {
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px 15px;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 0.7rem;
  border: 1.5px solid #000000;
  border-radius: 8px;
}

/***************** INDEX ***************/
.forside_img {
  background-image: url("/forside.webp");
  background-size: cover;
  position: relative;
  background-position: center;
  width: 100%;
  padding-top: 35%;
  background-repeat: no-repeat;
}

.flex_one_column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 7rem;
}

.iconic {
  background-image: url("/icon.svg");
  position: absolute;
  top: 10%;
  left: 30%;
  width: 40%;
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
}

.spin_hjul {
  background-image: url("/wheel_spin.svg");
  position: relative;
  left: 25%;
  width: 50%;
  aspect-ratio: 1/1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.billede_stack {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 40px;
}

.heste_img {
  background-image: url("/vildeheste.webp");
  position: relative;
  left: 10%;
  width: 115px;
  height: 150px;
  border-radius: 10px;
  background-size: cover;
}

.natur_img {
  background-image: url("/nature.webp");
  position: relative;
  left: -10%;
  margin-top: -15px;
  margin-bottom: 60px;
  width: 115px;
  height: 150px;
  border-radius: 10px;
  background-size: cover;
}

/***************** PRiser ******************/
.pakker {
  display: block;
  margin: 0, auto;
}

.grid_1-1-1 {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr; /* Mobil = én kolonne */
  justify-items: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.grid_pris_1-1 {
  margin: 2rem 4rem;
  margin-bottom: 5rem;
}

.liste {
  margin-left: 2rem;
}

.headphones {
  max-width: 200px;
}
.headphones-image {
  display: flex;
  justify-content: flex-end;
  transform: rotate(15deg);
  margin-bottom: 2rem;
  margin-top: -2rem;
}

/***************** OM SOUNDWHEEL - MOBIL ******************/
.center_overskrift {
  text-align: center;
}

.fed_tekst {
  font-family: "Syne", sans-serif;
  font-weight: 700;
}

.baggrund_tekst {
  background-color: rgba(246, 245, 243, 1);
  border-radius: 10px;
  margin: 25px;
  padding: 15px;
}

.baggrund_tekst p {
  gap: 20px;
}

.centreret_tekst {
  text-align: center;
  margin: 25px;
  max-width: 45ch;
  margin-left: auto;
  margin-right: auto;
}

.om_img img {
  padding-top: 15px;
  padding-bottom: 15px;
}

.single_pakke {
  background-color: #384222;
  border-radius: 20px;
  margin: 0 20px 30px 20px;
  padding: 10px 0 10px 0;
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.single_pakke li {
  line-height: 5px;
}

.singleview_h2 {
  text-align: center;
  margin: 25px;
  max-width: 45ch;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
}

.singleview_h1 {
  text-align: center;
  margin: 25px;
  max-width: 45ch;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
}

.tilbage {
  background-color: transparent;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 8px 40px;
  cursor: pointer;
  display: block;
  width: fit-content;
  margin: 0 auto;
  font-size: 0.8rem;
  text-decoration: none;
  margin-bottom: 5rem;
}

.mobile_icon img {
  width: 25%;
}

.headphones_mobil {
  width: 180px;
}

.tree_mobil {
  width: 180px;
}

.centreret_overskrift {
  text-align: center;
}

.kontakt_os {
  text-align: center;
  margin-bottom: 5rem;
}

.linje_singleview {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-family: "Syne", sans-serif;
    font-size: 3.1rem;
    font-weight: 600;
  }

  h2 {
    font-family: "Syne", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
  }

  h3 {
    font-family: "Syne", sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
  }

  p {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 28px;
  }

  a {
    font-family: "Syne", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }

  li {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
  }

  .grid_1-1-1 {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-right: 8rem;
    margin-left: 8rem;
  }

  .grid_om {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .centreret_tekst {
    text-align: left;
    margin: 25px;
    max-width: 60ch;
    margin-left: auto;
    margin-right: auto;
  }

  .baggrund_tekst {
    max-width: 450px;
  }

  .grid_om p {
    line-height: 50px;
  }

  .fed_tekst {
    font-weight: 800;
    display: block;
  }

  .grid_kontakt {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .kontakt_info {
    margin: 0 200px 0 200px;
  }

  .kontakt_h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .kontakt_info h2 {
    font-size: 1rem;
  }

  .besked {
    font-size: 2rem;
    display: block;
  }

  .nyhedsbrev_h2 {
    font-size: 1.7rem;
  }

  .nyhedsbrev_p {
    font-size: 1.2rem;
  }

  .top_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 4rem;
    margin-right: 7rem;
    margin-top: 4rem;
  }
  .bottom_row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0rem 8rem;
    margin-bottom: 4rem;
  }
  .billede_stack {
    order: 2;
  }

  .texst_bottom_row {
    order: 1;
  }

  .grid_pris_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem 15rem;
    margin-bottom: 5rem;
  }

  .headphones {
    max-width: 400px;
  }
  .headphones-image {
    display: flex;
    justify-content: flex-end;
    transform: rotate(15deg);
    margin-bottom: 10rem;
    margin-top: -20rem;
  }
  .sektion_priser {
    margin-left: 15rem;
    margin-right: 15rem;
    margin-top: 5rem;
  }

  .singleview_h2 {
    text-align: center;
    margin: 25px;
    max-width: 45ch;
    margin-left: auto;
    margin-right: auto;
  }

  .singleview_h1 {
    text-align: center;
    margin: 25px;
    max-width: 45ch;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
  }

  .grid_singleview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 140px 30px 140px;
  }

  .grid_singleview p {
    line-height: 3rem;
  }

  .single_pakke {
    background-color: #384222;
    border-radius: 20px;
    margin: 0 300px 30px 300px;
    padding: 20px 0px 20px 15px;
    color: white;
  }

  .single_pakke li {
    line-height: 20px;
  }

  .tilbage {
    font-size: 1rem;
  }

  .headphones_mobil {
    width: 280px;
  }

  .tree_mobil {
    width: 280px;
  }
}
